@import "mixins";
@import "vars";
@import "../styles/reset.css";
@import "../styles/fonts.css";

* {
  box-sizing: border-box;
  font-family: Inter, sans-serif;

}

body,
html {
  width: 100%;
  height: 100%;

}

#root {
  height: 100%;

}

.app {
  width: 100%;
  height: 100%;

}

.header {
  width: 100%;
}

.main {
  height: 100%;
}


